$accent-color: #b1bd00;

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("chrome-extension://__MSG_@@extension_id__/OpenSans.ttf")
    format("ttf");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

* {
  font-family: "Open Sans" !important;
}

strong {
  font-weight: 600;
}

body h1 {
  font-weight: 400;
  font-size: 1.6em !important;
}
h2 {
  font-weight: 400;
  font-size: 1.4em !important;
}

h3 {
  font-weight: 400;
}

div[style*="padding:10px; width:650px; border:thin solid darkred; margin:0px; background-color:#f8f9ed;"],
div[style*="padding:10px; width:650px; border:thin solid darkred; margin:0px"],
div[style*="padding:10px; width:650px; border:thin solid #f8f9ed; margin:0px; background-color:#f8f9ed;"] {
  padding-left: 1.5em !important;
  border-left: 3px solid $accent-color !important;
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  background-color: white !important;
}

body {
  background-color: white !important;
  overflow-x: hidden;

  #pageFoot {
    border: none !important;
    background-color: transparent !important;
    padding: 5px 1em;
    left: 220px;
  }

  #pageContainer {
    border: none !important;
    width: 100% !important;
    background-color: transparent !important;
    margin: 0;
    padding: 0;
  }

  #pageHead {
    border: none;
  }

  #pageContent {
    padding-left: 50px;
    width: 75%;
  }

  #pageTopNavi {
    background-image: none !important;
    top: 60px;
    left: 30px;
  }

  #pageHeadBottom_3 {
    border: none !important;
    background-color: #f7f7f7;
    padding: 9px;
    z-index: 100;
  }

  #pageLeft {
    width: 220px;
  }

  #pageTopNavi ul.nav li a.depth_1 {
    border-right: none !important;
  }

  #pageTopNavi ul.nav.depth_2 li.depth_2,
  #pageTopNavi ul.nav.depth_2 li {
    background-color: inherit !important;
    border: none !important;
  }

  #pageTopNavi ul.nav.depth_2 li.depth_2 a {
    padding: 9px;
    border-radius: 3px;
    margin-top: 0.5em;
    background-color: inherit !important;
    background-image: none !important;
  }

  #pageTopNavi ul.nav.depth_2 li.depth_2 a:hover,
  #pageTopNavi li.depth_2 a.navLink a:hover {
    background-color: #f7f7f7 !important;
    color: black !important;
    background-image: none !important;
  }

  #pageTopNavi ul.nav.depth_2 {
    border-top: none !important;
    border-bottom: none !important;
    padding-top: 1em !important;
  }

  a {
    text-decoration: none !important;
  }
}

.nav a {
  font-weight: 400 !important;
}

#cn_loginForm fieldset input {
  border: none !important;
  background-color: white !important;
  padding: 3px 7px !important;
  margin-top: 0px;
  border-radius: 4px;
}

body .img.img_arrowSubmit,
body .img.img_LangEnglish,
body .img.img_LangGerman,
body .img.img_arrowLogout,
body #pageFootControls a {
  background-image: none !important;
  text-decoration: none !important;
  border: none !important;
  padding: 4px !important;
  border-radius: 3px;
}

body .img.img_arrowSubmit:hover,
body .img.img_LangEnglish:hover,
body .img.img_LangGerman:hover,
body .img.img_arrowLogout:hover,
body #pageFootControls a:hover {
  background-color: #e4e4e4;
  color: black !important;
}

body .img.img_LangEnglish,
body .img.img_LangGerman,
body .img.img_arrowLogout {
  margin-top: 0px;
  height: 16px;
  line-height: 16px;
}

body #loginData {
  margin-top: 7px;
}

.sideOverlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -100;
  width: 230px;
  height: 100vh;
  background-color: #eeeeee;
}

body #pageTopNavi ul.nav.depth_1.linkItemContainer {
  padding-left: 220px;
}

body .tbhead {
  font-weight: 400;
}

.img {
  background-image: none !important;
}

@media (prefers-color-scheme: dark) {
  body,
  body #inhalt {
    h1,
    strong {
      color: $accent-color !important;
    }

    a {
      background-color: inherit !important;
    }
    a:hover {
      color: $accent-color !important;
    }

    * {
      color: white !important;
    }
    background-color: #333 !important;

    div[style*="padding:10px; width:650px; border:thin solid darkred; margin:0px; background-color:#f8f9ed;"],
    div[style*="padding:10px; width:650px; border:thin solid darkred; margin:0px"],
    div[style*="padding:10px; width:650px; border:thin solid #f8f9ed; margin:0px; background-color:#f8f9ed;"],
    caption,
    .tbhead,
    .tbhead td {
      background-color: #333 !important;
    }

    .tbcontrol,
    .tbLeftCol,
    tr,
    .tbsubhead {
      background-color: #555 !important;
    }

    .sideOverlay {
      background-color: black;
    }

    #pageHeadBottom_3 {
      background-color: black;
    }
  }
}
